<div class="card col-sm-8 m-auto mt-5 mb-3" ng-repeat="cauhoi in ">
    <div class="card" ng-repeat="ch in caccauhoi">
        <div class="card-header" style="font-weight: bold;"><i class="bi bi-chat-text"></i>
            XÂY DỰNG TRANG WEB
            <span class="badge rounded-pill bg-primary " style="float: right;">10:00</span>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ch.Text}}
            </h5>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                    value="option1" checked />
                <label class="form-check-label" for="exampleRadios1">
                    Đối xứng
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                    value="option1" checked />
                <label class="form-check-label" for="exampleRadios1">
                    Bẻ văn bản
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                    value="option1" checked />
                <label class="form-check-label" for="exampleRadios1">
                    Khối văn bản
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                    value="option1" checked />
                <label class="form-check-label" for="exampleRadios1">
                    Không đối xứng
                </label>
            </div>
        </div>
    </div>
</div>
<div class=" text-center mb-3">
    <button type="button" class="btn btn-outline-dark bg-light" style="width: 70px; border-radius: 50px;"><i
            class="fa-sharp fa-solid fa-hand-point-up"></i></button>
    <button type="button" class="btn btn-outline-dark bg-light" style="width: 70px; border-radius: 50px;"><i
            class="fa-solid fa-hand-point-left"></i></button>
    <button type="button" class="btn btn-outline-dark bg-light" style="width: 70px;border-radius: 50px;"><i
            class="fa-solid fa-hand-point-right"></i></button>
    <button type="button" class="btn btn-outline-dark bg-light" style="width: 70px;border-radius: 50px;"><i
            class="fa-sharp fa-solid fa-hand-point-down"></i></button>
</div>